.row{
    padding: 0px;
}
h1, h3{
    display: inline;
}
#beditar{
    float: inline-end;
    float:right;
}
#imgcomp{
    width: 100%;
    margin-top: 10%;
}
ul{
    padding: 20px;
}
h1, h3, h4, h5, h6, p{
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
}
@media (max-width: 991px){
    #imgcomp{
        width: 20%;
        margin-top: 10%;
    }
}