<nav class="navbar fixed-top navbar-light bg-light">
    <div>
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
            target="_blank" class="navbar-brand"><img src="../../../assets/img/APLogo.png" alt="Argentina Programa" id="logoAP"></a>
        <a href="" target="_blank" class="navbar-brand"><img src="../../../assets/img/facebook.png" alt="" class="redesS"></a>
        <a href="" target="_blank" class="navbar-brand"><img src="../../../assets/img/github.png" alt="" class="redesS"></a>
        <a href="" target="_blank" class="navbar-brand"><img src="../../../assets/img/linkedin.png" alt="" class="redesS"></a>
        <a href="" target="_blank" class="navbar-brand"><img src="../../../assets/img/gmail.png" alt="" class="redesS"></a>
        <a href="" target="_blank" class="navbar-brand"><img src="../../../assets/img/whatsapp.png" alt="" class="redesS"></a>
    </div>
</nav>