<!-- <button class="btn btn-danger" type="submit" (click)="home()">Home</button> -->
<form #f="ngForm" (ngSubmit)="onRegist()" novalidate>
    <h1 class="h3 nb-3 fw-normal">Porfavor Registrarse</h1>
    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="nombre" required>
    <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido" [(ngModel)]="apellido" required>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="email" required>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password" required>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
</form>