<div class="card mat-card" style="border-radius: 30px;">
    <div style="padding: 2%;">
        <div>
            <h1>Habilidades:</h1><a href="#" id="bagregar"><i class="fa fa-plus"></i></a>
            
            <h3>Blandas:</h3>
            
        </div>
        <div>
            <ul class="row" >
                 <li *ngFor="let habilidadesB of habilidadesBList" class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                     <div id="titulo">
                        <h5>{{habilidadesB.name}}</h5>
                        <h6>Experiencia: {{habilidadesB.experiencia}} año</h6>
                     </div>
                     <div id="progre">
                        <circle-progress id="circulo"
                        [percent]="habilidadesB.progress" 
                        [radius]="80" 
                        [outerStrokeWidth]="12" 
                        [innerStrokeWidth]="5"
                        [outerStrokeColor]="'red'" 
                        [innerStrokeColor]="'grey'" 
                        [animationDuration]="1000"
                        [imageWidth]="70"
                        [imageHeight]="70"
                        [showImage]="true"
                        [imageSrc]="habilidadesB.img">
                        </circle-progress>
                        <a href="#" id="beditar"><i class="fa fa-pen"></i></a>
                       <a href="#" id="beditar"><i class="fa fa-solid fa-trash"></i></a>
                     </div>
                    
                </li>
            </ul>
        </div>
        <div>
            <a href="#" id="bagregar"><i class="fa fa-plus"></i></a>
            <h3>Duras:</h3>
        </div>
        <div> 
            <ul class="row" >
                <li *ngFor="let habilidadesD of habilidadesDList" class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                    <div id="titulo">
                       <h5>{{habilidadesD.name}}</h5>
                       <h6>Experiencia: {{habilidadesD.experiencia}} año</h6>
                    </div>
                    <div id="progre">
                       <circle-progress id="circulo"
                       [percent]="habilidadesD.progress" 
                       [radius]="80"  
                       [outerStrokeWidth]="12" 
                       [innerStrokeWidth]="5"
                       [outerStrokeColor]="'red'" 
                       [innerStrokeColor]="'grey'" 
                       [animationDuration]="1000"
                       [imageWidth]="70"
                       [imageHeight]="70"
                       [showImage]="true"
                       [imageSrc]="habilidadesD.img">
                       </circle-progress>
                       <a href="#" id="beditar"><i class="fa fa-pen"></i></a>
                       <a href="#" id="beditar"><i class="fa fa-solid fa-trash"></i></a>
                    </div>
                   
               </li>
           </ul>
        </div>
    </div>
</div>