<div class="card mat-card" id="first-card">
    <div id="profile-background"><img src="../../../assets/img/Banner.jpg" alt="Banner">
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div><img src="../../../assets/img/Perfil.jpg" alt="Imagen Perfil" class="img-fluid" id="iperfil">
            </div>
            <div>
                <p id="nombrePerfil">{{usuario.nombre}} {{usuario.apellido}}</p>
                <p id="ptitulo">Full Stack Developer Jr</p>
            </div>
        </div>
        <div  class="col-xs-12 col-sm-7 col-md-7 col-lg-7" id="pacercade">
            <h1>Acerca de mí:</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, perspiciatis, obcaecati doloribus eveniet, natus adipisci delectus ab voluptatem est aperiam nostrum? Vel, sequi eos. Nesciunt qui dicta ratione voluptatem blanditiis?</p>
        </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1" >
            <a href="#" id="beditar"><i class="fa fa-pen"></i></a>
        </div>
    </div>
</div>