<div class="card mat-card" style="border-radius: 30px;">
    <div style="padding: 2%;">
        <div>
            <h1>Habilidades:</h1><a href="#" (click)="openHb(hblandas)" *ngIf="admin" id="bagregar"><i class="fa fa-plus"></i></a>
            <ng-template #hblandas let-modal>
                <app-new-habilidad></app-new-habilidad>
            </ng-template>
            <h3>Blandas:</h3>

        </div>
        <div>
            <ul class="row">
                <li *ngFor="let habilidadesB of hblandasl" class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                    <div id="titulo">
                        <h5>{{habilidadesB.nombre}}</h5>
                        <h6>Experiencia: {{habilidadesB.tiempoexpe}} año</h6>
                    </div>
                    <div id="progre">
                        <circle-progress id="circulo" [percent]="habilidadesB.progreso" [radius]="80"
                            [outerStrokeWidth]="12" [innerStrokeWidth]="5" [outerStrokeColor]="'red'"
                            [innerStrokeColor]="'grey'" [animationDuration]="1000" [imageWidth]="70" [imageHeight]="70"
                            [showImage]="true" [imageSrc]="habilidadesB.imgIcono">
                        </circle-progress>
                        <a *ngIf="admin" href="#" id="beditar"><i class="fa fa-pen"></i></a>
                        <a *ngIf="admin" id="beditar" (click)="deleteHb(habilidadesB.id)"><i class="fa fa-solid fa-trash"></i></a>
                    </div>

                </li>
            </ul>
        </div>
        <div>
            <a href="#" *ngIf="admin" id="bagregar"><i class="fa fa-plus"></i></a>
            <h3>Duras:</h3>
        </div>
        <div>
            <ul class="row">
                <li *ngFor="let habilidadesD of hdurasl" class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                    <div id="titulo">
                        <h5>{{habilidadesD.nombre}}</h5>
                        <h6>Experiencia: {{habilidadesD.tiempoexpe}} año</h6>
                    </div>
                    <div id="progre">
                        <circle-progress id="circulo" [percent]="habilidadesD.progreso" [radius]="80"
                            [outerStrokeWidth]="12" [innerStrokeWidth]="5" [outerStrokeColor]="'red'"
                            [innerStrokeColor]="'grey'" [animationDuration]="1000" [imageWidth]="70" [imageHeight]="70"
                            [showImage]="true" [imageSrc]="habilidadesD.imgIcono">
                        </circle-progress>
                        <a *ngIf="admin" id="beditar"><i class="fa fa-pen"></i></a>
                        <a *ngIf="admin" id="beditar" (click)="deleteHd(habilidadesD.id)"><i class="fa fa-solid fa-trash"></i></a>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>